<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <main>
            <section>
                <form>
                    <input id="name" type="text" name="input" value="" placeholder="URL" onsubmit="return Client.handleSubmit(event)">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Result:</strong>
                <div id="results"></div>
            </section>
        </main>

    </body>
</html>
